@charset "UTF-8";
body {
    background: #fff;
}
.main{
    padding-top: 53px;
}
.navbar {
    border: none;
    margin: 0px!important;
    background: #fff;
    border-radius: 0px;
    min-height: 53px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 99;
}

.navbar .navbar-brand {
    height: 53px;
    line-height: 53px;
    padding: 0 10px;
}

.navbar .navbar-brand img {
    height: 26px;
    vertical-align: middle;
    display: inline-block;
}

.navbar button {
    height: 53px;
    padding: 0px 10px;
    margin: 0px;
    border: none;
}

.navbar button:hover {
    background: #fff!important;
}

.navbar button .icon-bar {
    background: #14a0f2!important;
}

.navbar .navbar-right {
    float: right;
    line-height: 53px;
    margin-right: 0px;
    position: absolute;
    right: 55px;
    top: 0px;
    font-size: 12px;
}

.navbar .navbar-right span {
    font-size: 14px;
}

.navbar .navbar-nav {
    border-top: 1px solid #3699ea;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar .navbar-nav li {
    padding: 0 10px;
}

.navbar .navbar-nav li a {
    padding: 0px;
    display: block;
    line-height: 33px;
    color: #000;
    font-weight: normal;
}

.navbar .navbar-nav li.active {
    border-color: #3699ea;
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li.active a {
    background: #fff;
    color: #3699ea;
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0);
}
.navbar .navbar-nav .dropdown-menu{
    background: #009cde;
}
.navbar .navbar-nav .dropdown-menu li{
    padding: 0px!important;
    margin: 0px!important;
    text-align: center;
}
.navbar .navbar-nav .dropdown-menu li a{
    height: 36px!important;
    line-height: 36px!important;
    font-size: 12px!important;
    color: #333;
    background: #fff;
}
.navbar .navbar-nav .dropdown-menu li a:hover{
    background: #009cde;
    color: #fff;
}
.banner{
    height: auto;
    background: #999;
    position: relative;
}
.banner img{
    margin: 0px!important;
}
.banner .row{
    position: absolute;
    left: 0px;
    top: 20%;
    width: 100%;
    text-align: center;
    padding: 0px!important;
    border: none!important;
    margin: 0px!important;
}
.banner .row>div{
    color: #fff;
    font-size: 12px;
}
.banner .row>div strong{
    color: #fff;
    font-size: 27px;
    display: block;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px #333;
}
.titInfo{
    margin-bottom: 30px;
    text-align: center;
}
.titInfo h3{
    margin-bottom: 15px;
    font-size: 20px;
}
.titInfo p{
    font-size: 12px;
    color: #666;
    line-height: 20px;
}
.titInfo b{
    width: 65px;
    height: 5px;
    background: #009cde;
    display: inline-block;
}
footer.footer{
    border-top: 2px solid #206ea9;
    background: #fff;
}
footer.footer .row{
    margin: 0px;
    padding: 20px 0;
}
footer.footer .row>div{
    padding: 0px 20px;
}
footer.footer .row .footerL{
    margin-bottom: 10px;
}
footer.footer .links{
    display: block;
    margin-bottom: 10px;
}
footer.footer .links a{
    color: #333;
    font-size: 14px;
}
footer.footer .links .line{
    color: #333;
    font-size: 14px;
    margin: 0 2px;
}
footer.footer .add{
    font-size: 14px;
    color: #333;
    line-height: 14px;
    margin-bottom: 8px;
}
footer.footer .cp{
    padding-top: 10px;
    font-size: 14px;
    color: #999;
    line-height: 20px;
}
footer.footer .qr-code{
    padding-right: 20px;
    font-size: 12px;
    text-align: center;
}
footer.footer .qr-code img{
    width: 91px;
    height: 91px;
    margin-bottom: 10px;
}
footer.footer .qr-code span{
    color: #999;
}
footer.footer .media-heading{
    font-size: 16px;
    color: #666;
    font-weight: normal;
    padding-bottom: 3px;
}
footer.footer .media-heading span{
    font-size: 12px;
}
footer.footer .tel{
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
}
footer.footer .tel img{
    margin-right: 10px;
    vertical-align: baseline;
}
footer.footer .email,
footer.footer .tel2{
    color: #999;
    font-size: 12px;
}
.advBottom img{
    max-width: 100%;
}
.toast-center-center {
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -150px;
    text-align: center;
}
#toast-container .toast-message{
    display: inline-block;
    vertical-align: middle;
}
#toast-container>div.toast-info,
#toast-container>div.toast-error,
#toast-container>div.toast-success,
#toast-container>div.toast-warning{
    background-image: none!important;
    padding: 15px;
}
#toast-container>div::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 20px;
}
#toast-container>.toast-info::before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=) !important
}

#toast-container>.toast-error::before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=) !important
}

#toast-container>.toast-success::before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important
}

#toast-container>.toast-warning::before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=) !important
}
/* 小屏幕（平板，大于等于 768px） */

@media (min-width: 768px) {}


/* 中等屏幕（桌面显示器，大于等于 992px） */

@media (min-width: 992px) {}


/* 大屏幕（大桌面显示器，大于等于 1200px） */

@media (min-width: 1200px) {
.container {
    width: 1200px;
}
.main {
    padding-top: 80px;
}
.main .container{
    text-align: center;
    padding: 20px 0;
}
.banner{
    height: 580px;
}
.banner .row{
    position: static;
    text-align: left;
    position: relative;
    top: 146px;
}
.banner .row>div strong{
    font-size: 60px;
    margin-bottom: 30px;
}
.banner .row>div{
    font-size: 25px;
    font-weight: 200;
    padding: 0px;
}
.titInfo{
    margin-bottom: 30px;
}
.titInfo h3{
    margin-bottom: 30px;
    font-size: 32px;
}
.titInfo p{
    font-size: 16px;
    line-height: 28px;
}
/* .titInfo b{
    width: 65px;
    height: 5px;
    background: #009cde;
    display: inline-block;
} */
.navbar {
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 99;
    /* position: fixed;
top: 0px;
box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 5px rgba(0,0,0,0.1); */
}
.navbar .container {
    padding: 0px;
    position: relative;
}
.navbar .navbar-header {
    margin-top: 10px;
}
.navbar .navbar-brand {
    height: auto;
}
.navbar .navbar-brand img {
    height: auto;
}
.navbar .navbar-nav {
    margin-right: 150px;
    position: static;
    width: auto;
    height: auto;
    border-top: none;
    float: right;
}
.navbar .navbar-nav li {
    padding: 0 10px;
    width: auto;
    margin: 0 10px;
}
.navbar .navbar-nav li a {
    display: block;
    padding: 0px;
    line-height: 80px!important;
    font-size: 19px;
    font-weight: 200;
}
.navbar .navbar-nav li.active a,
.navbar .navbar-nav li.active a:hover {
    display: block;
    padding: 0px 10px;
    color: #4fb7f4;
    background: none;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
.navbar .navbar-nav li:hover .dropdown-menu{
    display: block;
}
.navbar .navbar-nav .dropdown-menu{
    border-radius: 0px;
    background: #fff;
    display: none;
    z-index: 2;
}
.navbar .navbar-nav .dropdown-menu li{
    padding: 0px!important;
    margin: 0px!important;
    text-align: center;
}
.navbar .navbar-nav .dropdown-menu li a{
    height: 36px!important;
    line-height: 36px!important;
    font-size: 15px!important;
    color: #333;
}
.navbar .navbar-nav .dropdown-menu li a:hover{
    background: #009cde;
    color: #fff;
}
.nav .open>a:focus{
    background: none;
}
.navbar .navbar-right{
    height: inherit;
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 16px;
    line-height: 80px;
}
.navbar .navbar-right a {
    font-weight: 200;
    color: #333;
    display: inline-block;
}
.navbar .navbar-right a:hover {
    color: #4fb7f4;
}
.navbar .navbar-right .line {
    font-size: 17px;
    color: #333;
    display: inline-block;
    margin: 0 5px;
}
footer.footer .row{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
}
footer.footer .row>div{
    padding: 0px;
}
footer.footer .footerL{
    float: left;
}
footer.footer .footerR{
    float: right;
}
footer.footer .links{
    display: block;
    margin-bottom: 30px;
}
footer.footer .links a{
    color: #333;
    font-size: 16px;
}
footer.footer .links .line{
    color: #333;
    font-size: 16px;
    margin: 0 20px;
}
footer.footer .add{
    font-size: 14px;
    color: #333;
    line-height: 14px;
    margin-bottom: 8px;
}
footer.footer .cp{
    padding-top: 20px;
    font-size: 14px;
    color: #999;
    line-height: 20px;
}
footer.footer .qr-code{
    padding-right: 40px;
    font-size: 12px;
    text-align: center;
}
footer.footer .qr-code img{
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
}
footer.footer .qr-code span{
    color: #999;
}
footer.footer .media-heading{
    font-size: 18px;
    color: #666;
    font-weight: normal;
}
footer.footer .media-heading span{
    font-size: 12px;
}
footer.footer .tel{
    font-size: 24px;
    color: #666;
    margin-bottom: 20px;
}
footer.footer .email,
footer.footer .tel2{
    color: #999;
    font-size: 12px;
}
}