@charset "UTF-8";
.pageIndex .main img{
  display: inline-block;
  max-width: 100%;
}
.pageIndex .main .row{
  padding-top: 0px;
  padding-bottom: 30px;
}
.pageIndex .navbar{
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  z-index: 1;
  background: none;
}
.pageIndex .navbar .navbar-header button span{
  background: #fff!important;
}
.navbar button:hover{
  background: none!important;
}
.navbar .navbar-nav li a{
  color: #333;
}
.navbar .navbar-nav li a:hover{
  background: none;
  color: #333;
}
.navbar .navbar-right a{
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
}
.navbar .navbar-right a:hover{
  color: #fff;
  text-decoration: none;
}
.navbar .navbar-collapse{
  background: #fff;
}
.pageIndex .banner strong{
  text-shadow: 0px 0px 0px #fff!important;
}
.pageIndex .banner p{
  padding-top: 40px;
}
.pageIndex .banner button{
  display: inline-block;
  background: none;
  border-color: #fff;
  color: #fff;
  padding: 0 30px;
  height: 38px;
  line-height: 38px;
  margin-right: 15px;
  text-shadow: 0px 0px 0px #fff!important;
}
.pageIndex .banner button:hover{
  color: #009cde;
  background: #fff;
}
.pageIndex .main .box1 .titInfo{
  margin-bottom: 50px;
  padding: 0 15px;
  margin-bottom: 30px;
}
.pageIndex .main .row-hd{
  padding: 0px;
  border: none;
}
.pageIndex .main .row-hd>li{
  width: 20%!important;
  float: left;
  box-sizing: border-box;
  padding: 0 10px;
  list-style: none;
  position: relative;
}
.pageIndex .main .row-hd img{
  max-width: 100%;
}
.pageIndex .main .row-hd a{
  text-decoration: none;
  border: none!important;
}
.pageIndex .box1 .row-hd>li.active::after{
  content: "";
  width: 0;
  height: 0;
  border: 20px solid;
  border-color: transparent transparent #f5f5f5;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -20px;
  margin-top: -25px;
}
.pageIndex .main .row-hd strong{
  font-size: 12px;
  font-weight: normal;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: #333;
}
.pageIndex .main .bd {
  background: #f5f5f5;
  margin: 0 -15px;
}
.pageIndex .bd .titInfo{
  text-align: left;
  margin-bottom: 0px!important;
}
.pageIndex .bd .titInfo button{
  background: none;
  border-color: #236fcd;
  color: #236fcd;
  padding: 0 30px;
  height: 38px;
  line-height: 38px;
}
.pageIndex .box2 {
  background: #f5f5f5;
}
.pageIndex .box2 .row-l>div:nth-child(1){
  padding: 0px;
}
.pageIndex .box2 .titInfo{
  margin-bottom: 0px!important;
}
.pageIndex .box2 .row-2{
  padding-top: 30px!important;
  padding-bottom: 0px!important;
}
.pageIndex .box2 .row-2 strong{
  font-weight: 200;
  display: block;
  text-align: center;
  font-size: 12px;
}
.pageIndex .box3 .row>div{
  margin-bottom: 20px;
}
.pageIndex .box3 .row>div:nth-child(2n){
  padding-left: 10px;
}
.pageIndex .box3 .row>div:nth-child(2n+1){
  padding-right: 10px;
}
.pageIndex .box3 .row img{
  max-width: 100%;
  -moz-box-shadow:0px 0px 5px rgba(0,0,0,.5);
  -webkit-box-shadow:0px 0px 5px rgba(0,0,0,.5);
  box-shadow:0px 0px 5px rgba(0,0,0,.5);
}
.pageIndex .box3 a {
  display: block;
  position: relative;
}
.pageIndex .box3 a span{
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  bottom: 0px;
  left: 0px;
  background: rgba(255,255,255,.7);
  color: #333;
}
.pageIndex .box4{
  background: #f5f5f5;
}
.pageIndex .box4 .row{
  margin: 0px;
}
.pageIndex .box4 .row>div:nth-child(2n){
  padding-left: 10px;
}
.pageIndex .box4 .row>div:nth-child(2n+1){
  padding-right: 10px;
}
.pageIndex .box4 .row>div{
  padding: 0px;
  margin-bottom: 20px;
}
.pageIndex .box4 .row a{
  display: block;
  border: 2px solid #e8e8e8;
  padding: 20px 10px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
}
.pageIndex .box4 .row a:hover{
  border-color: #206ea9;
}
.pageIndex .box4 .row a:hover .line{
  width: 55px;
  background: #206ea9;
}
.pageIndex .box4 .row img{
  height: 40px;
  width: auto;
}
.pageIndex .box4 .row strong{
  display: block;
  font-size: 12px;
  font-weight: 200;
  line-height: 18px;
  padding: 20px 0 10px 0;
  color: #333;
}
.pageIndex .box4 .row span{
  display: block;
  color: #aaa;
  font-size: 12px;
  line-height: 12px;
}
.pageIndex .box4 .row p{
  font-size: 12px;
  line-height: 18px;
  color: #666;
  display: block;
}
.pageIndex .box4 .row .line{
  width: 100%;
  display: inline-block;
  height: 1px;
  background: #eee;
  margin: 13px 0 10px 0;
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {

}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  .pageIndex .main .row{
    padding-bottom: 30px;
  }

  .pageIndex .main .row-l>div:nth-child(2) .titInfo{
    text-align: left;
  }
  .navbar .navbar-collapse{
    background: none!important;
  }
  .navbar .navbar-nav li a{
    color: #fff;
  }
  .navbar .navbar-nav li a:hover{
    background: none;
    color: #fff;
  }
  .navbar .navbar-right .toTry{
    height: 38px;
    line-height: 35px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0 20px;
    margin-left: 20px;
  }
  .pageIndex .banner{
    height: 800px;
    background: url(../img/index/img_01.png) no-repeat 50% 50%;
  }
  .pageIndex .banner p{
    padding-top: 40px;
  }
  .pageIndex .banner .row{
    top: 200px;
  }
  .pageIndex .main .box1 .container{
    width: auto;
    padding-bottom: 0px;
  }
  .pageIndex .main .box1 .titInfo{
    margin-bottom: 40px;
  }
  .pageIndex .main .row-hd{
    padding: 0px 50px!important;
  }
  .pageIndex .main .row-hd strong{
    font-size: 16px;
  }

  .pageIndex .box1 .row-hd{
    width: 1200px;
    margin: 0 auto;
    border: none;
    margin-bottom: 35px;
  }
  .pageIndex .box1 .row-hd>li{
    position: relative;
  }
  .pageIndex .box1 .row-hd>li.active::after{
    content: "";
    width: 0;
    height: 0;
    border: 25px solid;
    border-color: transparent transparent #f5f5f5;
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -25px;
    margin-top: -15px;
  }
  .pageIndex .box1 .bd>div{
    height: 650px;
  }
  .pageIndex .box1 .bd>div .row{
    width: 1200px;
    margin: 0 auto;
  }
  .pageIndex .box1 .bd>div .titInfo{
    text-align: left;
    padding-top: 100px;
  }
  .pageIndex .box1 .bd>div .titInfo p{
    margin-bottom: 40px;
  }
  .pageIndex .box1 .bd>div .titInfo button{
    background: none;
    border-color: #236fcd;
    color: #236fcd;
    padding: 0 30px;
    height: 38px;
    line-height: 38px;
  }
  .pageIndex .box1 .bd>div:nth-child(1){
    background: #f5f5f5 url(../img/index/img_07.png) no-repeat 50% 50%;
  }
  .pageIndex .box1 .bd>div:nth-child(2){
    background: #f5f5f5 url(../img/index/img_08.png) no-repeat 50% 50%;
  }
  .pageIndex .box1 .bd>div:nth-child(3){
    background: #f5f5f5 url(../img/index/img_09.png) no-repeat 50% 50%;
  }
  .pageIndex .box1 .bd>div:nth-child(4){
    background: #f5f5f5 url(../img/index/img_10.png) no-repeat 50% 50%;
  }
  .pageIndex .box1 .bd>div:nth-child(5){
    background: #f5f5f5 url(../img/index/img_11.png) no-repeat 50% 50%;
  }
  .pageIndex .box2{
    height: 685px;
    background: #f2f2f2 url(../img/index/img_12.png) no-repeat 50% 50%;
  }
  .pageIndex .box2 .row{
    padding-top: 150px;
  }
  .pageIndex .box2 .row-2{
    padding-top: 50px!important;
  }
  .pageIndex .box2 .row-2 strong{
    font-size: 15px;
  }
  .pageIndex .box3 .row>div{
    margin-bottom: 30px;
    padding: 0px!important;
  }
  .pageIndex .box3 a span{
    height: 63px;
    line-height: 63px;
    font-size: 16px;
  }
  .pageIndex .box4 .wrap{
    max-width: 1200px;
    margin: 0 auto;
  }
  .pageIndex .box4 .row{
    margin: 0 -20px;
  }
  .pageIndex .box4 .row .col-md-3{
    padding: 0px 20px!important;
  }
  .pageIndex .box4 .row a{
    display: block;
    height: 245px;
    border: 2px solid #e8e8e8;
    padding: 25px 30px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
  }
  .pageIndex .box4 .row img{
    height: 56px;
    width: auto;
  }
  .pageIndex .box4 .row strong{
    display: block;
    font-size: 18px;
    font-weight: 200;
    line-height: 18px;
    padding: 20px 0 10px 0;
    color: #333;
  }
  .pageIndex .box4 .row span{
    display: block;
    color: #aaa;
    font-size: 12px;
    line-height: 12px;
  }
  .pageIndex .box4 .row p{
    font-size: 12px;
    line-height: 18px;
    color: #666;
    display: block;
  }
  .pageIndex .box4 .row .line{
    width: 100%;
    display: inline-block;
    height: 1px;
    background: #eee;
    margin: 13px 0 10px 0;
  }
  .pageIndex .box4 .row a:hover{
    border-color: #009cde;
  }
  .pageIndex .box4 .row a:hover .line{
    width: 55px;
    background: #009cde;
  }
  .pageIndex .box4 .row a:hover strong,
  .pageIndex .box4 .row a:hover span{
    color: #009cde;
  }
}